
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;
  color: white;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.left, .right {
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

input[type="email"],
input[type="password"],
input[type="text"],
button,
.google-btn {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn img {
  width: 20px;
  margin-right: 0.5rem;
}

.links {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #999;
  text-align: center;
}

.links a {
  color: #00aaff;
  text-decoration: none;
  display: block;
  margin-top: 0.5rem;
}

.right {
  background: url('kafa3.jpg') no-repeat center center/cover;
}
